<div id="<%= dom_id professional_profile %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= professional_profile.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cv:</strong>
    <%= professional_profile.cv %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this professional profile", professional_profile, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this professional profile', edit_professional_profile_path(professional_profile), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
