<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex flex-wrap -mx-2">
    <div class="w-full md:w-3/12 px-2">
      <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">
        Filtrar por categoria
      </h6>
      <%= form_with url: tasks_path, method: :get do %>
        <ul class="space-y-2 text-sm" aria-labelledby="dropdownDefault">
          <% @task_categories.each do |task_category| %>
            <li class="flex items-center">
              <%= check_box_tag 'task_category_ids[]', task_category.id, Array(@task_categories_ids).include?(task_category.id.to_s), id: "task_category_#{task_category.id}", class: "w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" %>
              <%= label_tag "task_category_#{task_category.id}", "#{task_category.title} (#{task_category.tasks.count})", class: "ml-2 text-sm font-medium text-gray-900 dark:text-gray-100" %>
            </li>
          <% end %>
          <%= submit_tag 'Filtrar', class: "flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800" %> <!-- Insira suas classes CSS aqui -->
        </ul>
      <% end %>
    </div>
    <div class="w-full md:w-9/12">
      <div class="flex flex-col items-center justify-between p-4 space-y-3 md:flex-row md:space-y-0 md:space-x-4  mb-10">
        <div class="w-full md:w-1/2">
        <%= form_with url: tasks_path, method: :get, class: "flex items-center" do %>
          <%= label_tag "search", "Buscar", class: "sr-only" %>
          <div class="relative w-full">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
              </svg>
            </div>
            <%= text_field_tag 'search', @search, id: 'search', placeholder: 'Busque por uma tarefa e pressione enter', class: "block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
          </div>
        <% end %>
        </div>
        <div class="flex flex-col items-stretch justify-end flex-shrink-0 w-full space-y-2 md:w-auto md:flex-row md:space-y-0 md:items-center md:space-x-3">
          <%= link_to new_task_path, class: "flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800" do %>
            <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
            </svg>
            Publicar uma tarefa
          <% end %>
        </div>
      </div>
      <div class="px-2 mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <% @tasks.each do |task| %>
          <%= render :partial => 'task', locals: { task: task } %>
        <% end %>
      </div>
      <div class="sm:flex sm:flex-1 sm:items-center sm:justify-between">
        <%= will_paginate @tasks %>
      </div>
    </div>
  </div>
</div>
